

body {
	background-color: #1a1a1a;
	--link-gradient: linear-gradient(to bottom right, #3cfbff, #6dff77);
}

.container {
	max-width:1250px;
}

a {
	color: #3bffe0;
	text-decoration:none;
	text-shadow:none;
}

@supports(-webkit-background-clip:text) {
	.container {
		max-width:1250px;
		-webkit-background-clip:text;
		background-image: var(--link-gradient);
	}
	
	a {
		/* color: #3bffe0; */
		text-decoration:none;
		-webkit-text-fill-color:transparent;
		text-shadow:none;
	}
}

.content {
	margin-left:20px;
	margin-top:20px;
	margin-right:20px;
	margin-bottom:20px;
	font-family: Arial, helvetica, sans-serif;
	color: #e6e6e6;
	font-size: 70px;
}

a:hover {
	color:#ff6666;
	-webkit-text-fill-color:#ff6666;
	text-decoration: underline;
}