

body {
	--background-color: #1a1a1a;
	--link-color: #3bffe0;
	--text-color: #e6e6e6;
	--link-hover-color: #ff6666;
	--max-width: 1250px;
	--font-size: 70px;
	--margin-size: 20px;
	
	background-color: var(--background-color);
}

.container {
	max-width:var(--max-width);
}

a {
	color: var(--link-color);
	text-decoration:none;
	text-shadow:none;
}

.content {
	margin: var(--margin-size);
	font-family: Arial, helvetica, sans-serif;
	color: var(--text-color);
	font-size: var(--font-size);
}

a:hover {
	color:var(--link-hover-color);
	text-decoration: underline;
}